body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background: rgb(207,197,197);
  background: linear-gradient(90deg, rgba(207,197,197,1) 14%, rgba(168,166,166,1) 38%, rgba(0,0,0,1) 100%);
}
  
nav {
  width: 100%;
  padding: 1rem;
  text-align: center;
  background: black;
}
  
main {
  display: flex;
  gap: 10rem;
  padding: 2rem;
  max-width: 1200px;
}

h1 {
  color: aliceblue;
}

#productos-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0rem;
}

.producto-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;
  margin: 0 auto 1rem auto;
}
  
.producto {
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
}
  
#carrito {
  border: 1px solid #999;
  padding: 1rem;
  width: auto;
  border-radius: 5px;
  background-color: aliceblue;
}

.Carro {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0rem;
}